<ion-header>
	<ion-toolbar color="vua-gray-light">
		<ion-title>
			{{ 'news.title' | translate }}
		</ion-title>
		<ion-buttons slot="end">
			<ion-button color="primary" (click)="showFilters()">
				<ion-icon slot="icon-only" name="funnel"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-primary">
	<ion-list>
		<ion-item-sliding *ngFor="let newsItem of news$ | async; let i = index">
			<ion-item color="vua-primary" routerDirection="forward" [routerLink]="newsItem.id">
				<ion-card color="vua-secondary">
					<ion-item color="vua-secondary">
						<ion-avatar slot="start">
							<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
						</ion-avatar>
						<ion-label>
							{{ newsItem.title }}
							<ion-icon name="bookmark" slot="start" color="danger"></ion-icon>
						</ion-label>
					</ion-item>

					<ion-card-content>
						<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
						This is content, without any paragraph or header tags,
						within an ion-card-content element.
					</ion-card-content>
				</ion-card>
			</ion-item>
			<ion-item-options side="end" (ionSwipe)="delete(newsItem)">
				<ion-item-option color="danger" expandable>
					<ion-icon slot="top" name="trash"></ion-icon>
					Delete
				</ion-item-option>
			</ion-item-options>
			<ion-item-options side="start" (ionSwipe)="presentModal(newsItem)">
				<ion-item-option color="primary" expandable>
					<ion-icon slot="top" name="create"></ion-icon>
					Edit
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)=presentModal()>
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
				pullingIcon="arrow-dropdown"
				pullingText="Pull to refresh"
				refreshingSpinner="circles"
				refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
</ion-content>
