<ion-header>
	<ion-toolbar color="vua-gray-light">
		<ion-title>
			{{ 'news.title' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
<ion-card *ngFor="let newsItem of news$ | async">{{ newsItem.name }}
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>ion-item in a card, icon left, button right</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
	</ion-card>
	</ion-list>
	 <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
	</ion-fab>
</ion-content>
