<ion-header>
	<ion-toolbar color="vua-primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="settings" [text]="'settings.title' | translate"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.events.title' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-primary">
	<ion-card *ngFor="let event of form.get('events').value">
		<ion-item color="vua-secondary">
			<ion-img [src]="event.image" slot="start"></ion-img>
			<ion-label>{{ event.name }}</ion-label>
		</ion-item>

		<ion-card-content>
			About event
		</ion-card-content>
	</ion-card>
</ion-content>
