<ion-header>
	<ion-toolbar color="vua-gray-light">
		<ion-buttons slot="start">
			<ion-back-button  defaultHref="settings" [text]="'Settings'"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.theme.title' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-gray-light">
	<ion-list [formGroup]="form">
		<ion-radio-group formControlName="theme" (ionChange)="onThemeSelected($event)">
			<ion-list-header>
				<ion-label>{{ 'settings.tabs.theme.header' | translate }}</ion-label>
			</ion-list-header>

			<ion-item>
				<ion-label>{{ 'settings.tabs.theme.' + UTypes.ETheme.WHITE | translate }}</ion-label>
				<ion-radio slot="end" value="white" checked></ion-radio>
			</ion-item>

			<ion-item>
				<ion-label>{{ 'settings.tabs.theme.' + UTypes.ETheme.BLACK | translate }}</ion-label>
				<ion-radio slot="end" value="black"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>





