<ion-header>
	<ion-toolbar color="vua-gray-light">
		<ion-buttons slot="start">
			<ion-back-button  defaultHref="settings" [text]="'settings.title' | translate"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.theme.title' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-gray-light">
	<ion-list [formGroup]="form">
		<ion-radio-group formControlName="theme" (ionChange)="onThemeSelected($event)">
			<ion-list-header>
				<ion-label>{{ 'settings.tabs.theme.header' | translate }}</ion-label>
			</ion-list-header>

			<ion-item *ngFor="let themeItem of EnumValues.getValues(UTypes.ETheme)">
				<ion-label>{{ 'settings.tabs.theme.' + themeItem | translate }}</ion-label>
				<ion-radio slot="end" value="{{ themeItem }}"></ion-radio>
			</ion-item>

		</ion-radio-group>
	</ion-list>
</ion-content>





