ion-avatar {
  height: 4rem;
  width: 4rem;
}

ion-list {
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;

  &.inline-settings {
    .light-text {
      white-space: nowrap;
      max-width: 110px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
