ion-avatar {
  height: 4rem;
  width: 4rem;
}

ion-list {
  &.inline-settings {
    ion-icon {
      border-radius: 6px;
      padding: 2px;
      background-color: #3880ff;
      color: #fff;
    }

    ion-text {
      white-space: nowrap;
      max-width: 110px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
