<ion-header>
	<ion-toolbar color="vua-gray-light">
		<ion-buttons slot="start">
			<ion-back-button  defaultHref="settings" [text]="'Settings'"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.notifications' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-gray-light">
	<ion-list [formGroup]="form">
		<ion-item>
			<ion-label>All</ion-label>
			<ion-toggle (ionChange)="onAllToggle($event)"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>News</ion-label>
			<ion-toggle formControlName="news"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>Team</ion-label>
			<ion-toggle formControlName="team"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>Events</ion-label>
			<ion-toggle formControlName="events"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>Competitions</ion-label>
			<ion-toggle formControlName="competitions"></ion-toggle>
		</ion-item>
	</ion-list>
</ion-content>





