<ion-header>
	<ion-toolbar color="vua-primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="settings" [text]="'settings.title' | translate"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.language.title' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-primary">
	<ion-list [formGroup]="form">
		<ion-radio-group formControlName="language">
			<ion-item *ngFor="let langItem of EnumValues.getValues(UTypes.ELanguage)" color="vua-secondary">
				<ion-label>{{ 'settings.tabs.language.' + langItem | translate }}</ion-label>
				<ion-radio slot="end" value="{{ langItem }}"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>





