:host {
	ion-card {
		ion-card-content {
			font-size: 14px;
			color: #a2a4ab;
			margin: 5px;
			white-space: normal;
			word-break: break-all;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

		ion-card-header {
			padding: 10px;

			ion-card-title {
				font-size: 20px;
			}

			ion-card-subtitle {
				color: #a2a4ab!important;
				font-style: italic;
			}
		}
	}
}
