ion-item-sliding {
	margin-bottom: 5px;

	ion-item {
		--border-radius: 0;
		--inner-padding-end: 0;

		.item-title {
			height: 5rem;
		}

		.item-content {
			margin: 15px;
			white-space: normal;
			word-break: break-all;
			text-indent: 40px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}

	}

	img {
		margin: 0;
	}
}
