<ion-header>
	<ion-toolbar color="vua-gray-light">
		<ion-buttons slot="start">
			<ion-back-button  defaultHref="settings" [text]="'settings.title' | translate"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.teams.title' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-gray-light">
	<ion-card *ngFor="let team of form.get('teams').value">
		<ion-item>
			<ion-img [src]="team.image" slot="start"></ion-img>
			<ion-label>{{ team.name }}</ion-label>
		</ion-item>

		<ion-card-content>
			About team
		</ion-card-content>
	</ion-card>
</ion-content>
