<ion-header>
	<ion-toolbar color="vua-primary">
		<ion-buttons slot="start">
			<ion-back-button  defaultHref="settings" [text]="'settings.title' | translate"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.category.title' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-primary">
	<ion-list [formGroup]="form">
		<ion-radio-group formControlName="sports_category">
			<ion-item *ngFor="let category of categories" color="vua-primary">
				<ion-label>{{ ('settings.tabs.category.' + category) | translate }}</ion-label>
				<ion-radio slot="end" value="{{ category }}"></ion-radio>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>





