ion-text {
  --background: transparent;
  padding: 0;
  margin-left: -3px;
  font-size: 14px;
  vertical-align: text-top;
  font-weight: 800;
}
.is-block {
  display: block;
}
ion-col {
	padding: 0;
	margin: 0;
    max-width: 1rem;
}
