																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																		
<ion-grid position="start" class="ion-no-margin ion-no-padding">
	<ion-row>
		<ion-col *ngFor="let indicator of indicators" size="4">
			<span *ngIf="indicator.name || indicator.src" [class.is-block]="!inline">
		<ion-icon [name]="indicator.name" [src]="indicator.src" [color]="indicator.color"></ion-icon>
		<ion-text *ngIf="description && indicator.description">{{ indicator.description }}</ion-text>
		<ion-badge *ngIf="value && indicator.value">{{ indicator.value }}</ion-badge>
	</span>
		</ion-col>
	</ion-row>
</ion-grid>