<ion-item lines="none" color="vua-secondary" class="ion-no-padding">
	<ion-avatar slot="start">
		<img alt="" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
	</ion-avatar>
	<ion-label>
		<ion-grid>
			<ion-row>
				<ion-text class="text-holder">
					Zahar
					Trubadurok
				</ion-text>
			</ion-row>

			<ion-row>
				<ion-text color="medium" class="text-holder">
					<small>+380932644367</small>
				</ion-text>
			</ion-row>
		</ion-grid>
	</ion-label>
</ion-item>
