<ion-header>
	<ion-toolbar color="vua-gray-light">
		<ion-buttons slot="start">
			<ion-back-button  defaultHref="settings" [text]="'Settings'"></ion-back-button>
		</ion-buttons>
		<ion-title>
			{{ 'settings.tabs.notifications' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="vua-gray-light">
	<ion-list [formGroup]="form">
		<ion-item>
			<ion-label position="stacked">Birthday</ion-label>
			<ion-datetime displayFormat="MM DD YYYY" placeholder="Select Date"
			              formControlName="date_of_birth"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Name</ion-label>
			<ion-input type="text" formControlName="fname"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Surname</ion-label>
			<ion-input type="text" formControlName="phone"></ion-input>
		</ion-item>
	</ion-list>
</ion-content>





