ion-label {
  height: 100%;
  border-bottom: 1px solid var(--ion-color-vua-primary);
  width: 75%;
  padding-left: 0;
  ion-row, ion-col {
    padding-left: 0;
  }
}

ion-col.indicators {
  max-width: 6rem;
  app-indicators {
    float: right;
  }
}
ion-col.title {
  overflow: hidden;
  text-overflow: ellipsis;

}
ion-item {
  --inner-padding-end: 0;
}
ion-col.contact {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
