ion-label {
  position: absolute;
  margin-left: 5.1rem;
  margin-top: -1.2rem;
}
ion-item {
  margin-bottom: 2px;
}
app-indicators {
  position: fixed;
  margin-top: 1.3rem;
  margin-left: -2.2rem;
}

