<ion-item-sliding>
	<ion-item lines="none" [detail]="null" color="vua-secondary" routerDirection="forward" [routerLink]="item.id">
		<div slot="start">
			<ion-avatar>
				<img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
			</ion-avatar>
		</div>

		<ion-label class="ion-no-margin">
			<ion-grid>
				<ion-row>
					<ion-col size="12" class="title">
					<ion-text>{{ item.title }}</ion-text>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="12">
						<app-user-contact-card></app-user-contact-card>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="12" class="place">
						<ion-text>Place</ion-text>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col size="12" class="indicator">
						<app-indicators [indicators]="item.indicators"></app-indicators>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-label>
	</ion-item>

	<ion-item-options side="end" (ionSwipe)="delete(item)">
		<ion-item-option color="danger" expandable>
			<ion-icon slot="top" name="trash"></ion-icon>
			Delete
		</ion-item-option>
	</ion-item-options>
	<ion-item-options side="start" (ionSwipe)="presentModal(newsItem)">
		<ion-item-option color="primary" expandable>
			<ion-icon slot="top" name="create"></ion-icon>
			Edit
		</ion-item-option>
	</ion-item-options>
</ion-item-sliding>
