/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/vua-white.scss";
@import "./theme/vua-black.scss";

.light-text {
  opacity: 0.4;
}

.link {
  text-decoration: none;
  color: inherit;
}

.invalid-feedback {
  color: darkred;
}

.select-action-sheet {
  .action-sheet-group {
    .action-sheet-button {
      background-color: var(--ion-color-vua-primary)!important;
      background-image: none!important;
      margin-bottom: 1px;

      &:first-child, &:last-child {
        border-radius: 8px;
      }
    }
  }
}

ion-action-sheet {
  --background: var(--ion-color-vua-primary)!important;
  --background-activated: var(--ion-color-vua-secondary)!important;
  --background-selected: var(--ion-color-vua-secondary)!important;
}

ion-picker {
  --background: linear-gradient(180deg,  var(--ion-color-vua-primary-tint) 0%,  var(--ion-color-vua-primary) 50%, var(--ion-color-vua-primary-tint) 100%)!important;
  --border-color: var(--ion-color-vua-primary-tint)!important;

  .picker-opt {
    color: var(--ion-color-vua-secondary-contrast);
  }
}
